<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="../assets/images/ng-book-2-minibook.png">
      ng-book 2
    </a>
    <div class="header item borderless">
      <h1 class="ui header">
        Angular Inventory App
      </h1>
    </div>
    <app-chart [products]="products">
    </app-chart>
  </div>
</div>
<div class="inventory-app">
  <app-products-list [productList]="products" (onProductSelected)="productWasSelected($event)">
  </app-products-list>
</div>
